@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FDFCF8;
  background-image: radial-gradient(#E5E5E5 1px, transparent 1px);
  background-size: 24px 24px;
  @apply text-ink font-body;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}